<div class="container__comments">
  <div class="header_-_comments">
    <span class="comments_-_header_-_span">Comments</span>
  </div>
  <div class="comments_form_with_pic">
    <img src="assets/dog-cry.jpg" class="img_comment_container">
    <form class="comments_-_container_-_form">
      <div class="top-form">
        <input placeholder="Nome" class="comment_input">
        <input placeholder="Email" class="comment_input">
      </div>
      <input placeholder="mensagem" class="comment_input message">
      <div class="btn_-_div">
        <button class="comment_btn" type="submit">Submeter Comentário</button>
      </div>
    </form>
  </div>
</div>

