*{
  box-sizing: border-box;
}


.container__comments{
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin-top: 5px;
  width: 100%;
  max-width: var(--wrapper_width);
  padding: 0px 5px;

  .header_-_comments{
    display: block;
    text-align: left;
    margin: 10px 0px;
  }

  .comments_-_header_-_span{
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 1.2em;
    text-align: left;
  }

  .comments_form_with_pic{
    display: flex;
    gap: 8px;

    .img_comment_container{
      object-fit: fill;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .comments_-_container_-_form{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      .top-form{
        display: flex;
        gap: 10px;
      }

      .comment_input{
        border: none;
        border-bottom: 1px solid var(--borders-colors);
        flex: 1;
      }

      .message{
        margin-bottom: 10px;
      }

      .btn_-_div{
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
      .comment_btn{
        font-size: 0.7em;
        align-items: center;
        border-radius: 20px;
        border: 2px solid #ffffff;
        color: #ffffff;
        background-color: black;
        margin-bottom: 5px;
        cursor: pointer;
        padding: 7px;
      }

      .comment_btn:hover{
        background-color: #1a1a1a;
        color: #cecece;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(250, 250, 250, 0.35);
      }
    }
  }
}
