.mini_video_layout {
  background: #1C1C24;
  border-radius: 20px;
  width: 100%;
  min-width: 25rem;

  .mini_video_header > img {
    object-fit: cover;
  }

  .mini_video_header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .mini_video_thumb__ {
    width: 100%;
    /*    height: 210px;*/
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    aspect-ratio: 0.5;
    cursor: pointer;
    height: 200px;
  }

  .mini_video_profile_img {
    position: absolute;
    object-fit: cover;
    right: 48px;
    top: 190px;
    border: 6px solid #ececec;
    border-radius: 50%;
  }

  .mini_video_duration {
    position: absolute;
    width: 55px;
    height: 18px;
    left: 25px;
    top: 175px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #000000FF;
  }

  .mini_video_body {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px;
    background-color: #1C1C24;
    padding: 5px 25px;
    margin-bottom: 10px;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 400px;

    .compacted_-_box_-_canal {
      color: #4783ee;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      width: 100%;
      gap: 3px;
      margin-top: 10px;
      margin-bottom: -10px;
      cursor: pointer;
    }

    .compacted_-_box_-_tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      width: 100%;
      gap: 3px;
      margin-bottom: 3px;
      cursor: pointer;
    }

    .compacted_-_box_-_tags > span {
      color: #1E75FF;
      font-family: 'Roboto', serif;
      background-color: transparent;
    }

    .mini_video_body_-_title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #FAFAFB;
      margin-bottom: -6px;
      min-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mini_video_body_-_timestamp {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: #92929D;
      margin-bottom: 10px;
    }
  }

  .mini_video_body > * {
    //background-color: #1C1C24;
  }
}

.mini_video_layout:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px #92929D;
  color: #cecece;
}




