.mini_video_layout {
  background: #1C1C24;
  border-radius: 20px;
  min-width: 412px;
  width: 400px;

  .mini_video_header > img {
    object-fit: cover;
  }

  .mini_video_header {
    min-width: 100px;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .mini_video_thumb__ {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    aspect-ratio: 0.5;
  }

  .mini_video_profile_img {
    position: absolute;
    width: 69.72px;
    height: 69.65px;
    left: 344.23px;
    top: 176px;
    border-radius: 50%;
  }

  .mini_video_duration {
    position: absolute;
    width: 55px;
    height: 18px;
    left: 25px;
    top: 175px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
  }

  .mini_video_body {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px;
    background-color: #1C1C24;
    min-height: 107px;
    padding: 5px 25px;
    margin-bottom: 10px;
    text-align: justify;

    .compacted_-_box_-_canal {
      color: #4783ee;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      width: 100%;
      gap: 3px;
      margin-bottom: 3px;
      cursor: pointer;
    }

    .compacted_-_box_-_tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      width: 100%;
      gap: 3px;
      margin-bottom: 3px;
      cursor: pointer;
    }

    .compacted_-_box_-_tags > span {
      color: #1E75FF;
      font-family: 'Roboto', serif;
      background-color: transparent;
    }

    .mini_video_body_-_title {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #FAFAFB;
      margin-bottom: 2px;
      min-height: 80px;
    }

    .mini_video_body_-_timestamp {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: #92929D;
      margin-bottom: 5px;
    }
  }

  .mini_video_body > * {
    background-color: #1C1C24;
  }
}




