<div class="mini_video_layout">
  <div class="mini_video_header">
    <img [src]="thumb" class="mini_video_thumb__">
    <img [src]="min_video_profile_photo" class="mini_video_profile_img" *ngIf="min_video_profile_photo">
    <span class="mini_video_duration">{{video_duration}}</span>
  </div>
  <div class="mini_video_body">
    <div class="compacted_-_box_-_tags">
      <span>{{tags}}</span>
    </div>
    <h3 class="mini_video_body_-_title">
      {{video_title}}
    </h3>
    <p class="mini_video_body_-_timestamp">
      {{data_upload}}
    </p>
  </div>
</div>
