*{
  box-sizing: border-box;
}

hr{
  color: #752b2b;
}

.box{
  padding: 10px;
  background: #1C1C24;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px
}

.pointer{
  cursor: pointer;
}

.showAll{
  text-align: center;
  background-color: #444242;
}

.titulo{

  font-weight: bold
}
.em-linha{
  display: flex;
  flex-direction: row;
  vertical-align: center;
}

.img_canais-sug{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: center;
}

.nome-canais-sug{
  font-weight: normal;
  font-size: 1em;
  vertical-align: center;
  margin-left: 10px;
}
