
<div class="box">
  <div>
    <p class="titulo">Canais sugeridos</p>
  </div>

  <hr class="hrow">

  <div *ngFor="let canal of canais" class="em-linha">

    <div >
      <img [src]="this.service.addUrlOfSrc(canal.user_picture)" class="img-canais-sug" alt="face">
    </div>
    <div class="nome-canais-sug" >
      <p class="pointer" [routerLink]="['/canal', canal.nid ]" >{{canal.title}}</p>
    </div>
  </div>

  <div class="showAll">
    <span class="pointer" [routerLink]="['/canais' ]"> MOSTRAR MAIS </span>
  </div>

</div>
