*{
  box-sizing: border-box;
}
.hrow{
  border-bottom: 1px solid #000000;
  margin: 10px;
}
.box{
  display: block;
  padding: 1px;
  background: #1C1C24;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.pointer{
  cursor: pointer;
}
.titulo{
  font-weight: bold;
  font-size: 0.9em;
  padding: 10px;
  margin-top: 10px;
}
.em-linha{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  padding-left: 10px;
  padding-bottom: 1px;
}
.img-canais-sug{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: center;
  margin-top: 5px;

}
.nome-canais-sug{
  display: flex;
  font-weight: normal;
  font-size: 0.9em;
  padding-bottom: 5px;

  margin-left: 10px;
}
.showAll{
  height: 50px;
  background-color: #333333;
  font-size: 0.9em;
  text-align: center;
  padding-top: 15px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

