<div class="box">

  <div class="em-linha">
    <div>
      <p class="titulo">Temáticas sugeridas</p>
    </div>
    <div>
      <p class="pointer" [routerLink]="['/tematicas' ]" > VER TODAS  </p>
    </div>
  </div>
  <hr>


  <div  *ngFor="let tematica of tematicas_sugeridas">
    <div class="pointer" [routerLink]="['/tematica', tematica.nid ]" >
      <div class="tematica_sug">
        <div >
          <img [src]="this.service.addUrlOfSrc(tematica.user_picture)" class="img_tematicas-sug" alt="face">
        </div>
        <div>
          <div >
            <p class="pointer">{{tematica.title}}</p>
            <p>{{tematica.name}}</p>
          </div>
        </div>
      </div>
      <div>
        <img  [src]="this.service.addUrlOfSrc(tematica.field_imagem)" alt="temática-picture" >
      </div>
    </div>
  </div>


</div>

