*{
  box-sizing: border-box;
}

.comment_-_container{
  margin-top: 5px;
  width: 100%;

  .comment_div_with_pic{
    display: flex;
    gap: 8px;

    .img_comment_container{
      object-fit: fill;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .comment_-_container_-_description{
      display: flex;
      flex-direction: column;

      .comment_profile_data{
        display: flex;
        gap: 5px;
        align-items: center;

        .comment_profile_data_name{
          font-size: 0.9em;
          text-align: center;
        }

        .comment_profile_data_upload_time{
          font-size: 0.8em;
          color: #b9b9b9;
          text-align: center;
        }

        .comment_description{
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-align: justify;
          letter-spacing: 0.2px;
          color: #A9b9b9;
        }
      }
    }
  }

}

.flag_report{
  cursor: pointer;
}
