<div class="comment_-_container">
  <div class="comment_div_with_pic">
    <img src="assets/dog-cry.jpg" class="img_comment_container">
    <div class="comment_-_container_-_description">
      <div class="comment_profile_data">
        <span class="comment_profile_data_name">{{name}}</span>
        <span class="comment_profile_data_upload_time">{{data_upload}}</span>
      </div>
      <p class="comment_description">
        {{comment}}
        <span class="flag_report">
          <fa-icon [icon]="isFlagged? faFlagSolid : faFlag" (click)="toogleReport()" class="report">
          </fa-icon>
        </span>
      </p>

    </div>
  </div>
</div>
