*{
  padding: 0;
  margin: 0;
}

.channel_layout_{

  .profile_info_img__{
    position: relative;
    flex: 1;
    height: 292.13px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: inset 0 7em #292932;
    object-position: 80% 25%;
  }

  .user_info_img__{
    position: absolute;
    object-fit: cover;
    width: 220px;
    height: 220px;
    left: 1095px;
    right: 500px;
    top: 192px;
    border: 6px solid #FFFFFF;
    border-radius: 50%;
  }
  .channel_br_division_100{
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid var(--borders-colors);
    margin-bottom: 5px;
    height: 233px;
    align-items: center;

    .channel_profile_name{
      min-width: 343px;
      min-height: 29px;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      color: var(--text_span_color_);
      margin-bottom: 20px;

    }

    .channel_profile_description{
      min-width: 700px;
      width: 60%;
      min-height: 60px;
      max-height: 70px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      letter-spacing: 0.2px;
      color: var(--menu_font_color);
    }
  }

  .channel_grid_videos__{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu_comentarios{
    margin-top: 10px;
  }
}

