<div *ngFor="let canal of channel">
  <div class="channel_layout_">
    <div class="profile_infos_">
      <img [src]="this.service.addUrlOfSrc(canal.field_media_image)" class="profile_info_img__">
      <img [src]="this.service.addUrlOfSrc(canal.user_picture)" class="user_info_img__">
    </div>
    <div class="channel_br_division_100">
      <div class="channel_profile_name_e_description">
        <h2 class="channel_profile_name">{{canal.title}}</h2>
        <p class="channel_profile_description">
          {{canal.field_descricao_}}
        </p>
      </div>
    </div>
    <div class="channel_grid_videos__">
      <app-mini-video_details *ngFor="let item of channelVideos"
                              [thumb]="this.service.addUrlOfSrc(item.thumbnail__target_id)"
                              [data_upload]="item.field_data_upload"
                              [video_title]="item.name"
                              [video_duration]="item.field_duracao"
                              [tags]="this.service.editTagsFromVideo(item.field_tags)"
                              [link_to_video]="item.mid"
      >
      </app-mini-video_details>
    </div>
    <div class="menu_comentarios">
      <app-comments></app-comments>
      <app-comment *ngFor="let c of comment"
                   [comment]="c.field_comentario"
                   [data_upload]="c.field_data_de_upload">
      </app-comment>
    </div>
  </div>
</div>

