*{
  padding: 0;
  margin: 0;
}

.channel_layout_{
  padding: 10px 5px;
  flex: 1;

  .profile_infos_{
    position: relative;
    height: 100%;
    width: 100%;

    .profile_img_fade {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 40%;
      left: 0;
      background: linear-gradient(0deg, black, transparent);
    }

    .profile_info_img__{
      max-height: 292.13px;
      object-fit: cover;
      border-radius: 15px;
      object-position: 80% 25%;
      //min-width: 1206px;
      width: 100%;
    }

    .user_info_img__{
      position: absolute;
      object-fit: cover;
      width: 14rem;
      height: 14rem;
      bottom: -25%;
      right: 2%;
      border: 6px solid #ececec;
      border-radius: 50%;
    }
  }
  .channel_br_division_100{
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid var(--borders-colors);
    margin-bottom: 5px;
    height: min-content;

    .channel_profile_name{
      min-width: 343px;
      min-height: 29px;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      color: var(--text_span_color_);
      margin-bottom: 20px;

    }

    .channel_profile_description{
      width: 100%;
      max-height: 70px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      letter-spacing: 0.2px;
      color: var(--menu_font_color);
      text-overflow: clip;
      overflow-y: auto;
    }
    .channel_profile_description::-webkit-scrollbar{
      width: 0.8em;
      color: #292932;
    }
  }

  .channel_grid_videos__{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, calc(100% / 3));
    align-items: center;
    gap: 10px;

  }

  .menu_comentarios{
    margin-top: 10px;
  }

  @media screen and (max-width: 1250px) {
    .channel_grid_videos__{
      display: grid;
      margin-top: 20px;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(2, calc(100% / 2));
    }
  }

  @media screen and (max-width: 1128px) {
    .channel_grid_videos__{
      display: grid;
      margin-top: 20px;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(2, 49%);
    }
  }
  @media screen and (max-width: 1028px) {
    .channel_grid_videos__{
      display: grid;
      margin-top: 20px;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(2, calc(100% / 2));
    }
  }

  @media screen and (max-width: 950px) {
    .channel_grid_videos__{
      display: grid;
      margin-top: 20px;
      align-items: center;
      gap: 10px;
      grid-template-columns: 100%;
    }
  }

  @media screen and (max-width: 720px) {
    .user_info_img__{
      width: 8rem;
      height: 8rem;
    }

    .channel_grid_videos__{
      display: grid;
      margin-top: 20px;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(1, 100%);
    }
  }


}



