*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

>span, >p, >h1, >h2, >h3, >h4{
  background-color: transparent;
}

.canal_box_-_layout{
  border: 2px solid #92929D;
  display: flex;
  width: 481px;
  min-height: 300px;
  border-radius: 20px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  margin: 15px 2.5px;
  gap: 5px;

  .canal_box_-_header{
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 3px 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img_canal_-_foto_-_de_-_capa{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .img_canal_-_foto_-_de_-_perfil{
      position: absolute;
      object-fit: cover;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 6px solid #FFFFFF;
      display: flex;
    }
  }
  .canal_box_-_header>img{
    width: 100%;
    object-fit: cover;
  }
  .canal_box_-_footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: justify;
    padding: 10px 10px;
    margin: 0 10px;

    .canal_box_-_canal_-_nome{
      margin: 20px 0;
      font-size: 1.5em;
    }

    >p{
      background-color: transparent;
    }

    .canal_box_-_footer_-_btn{
      padding: 5px 15px;
      border-radius: 10px;
      border: 2px solid #92929D;
      background-color: #B2191B;
      cursor: pointer;
    }
    .canal_box_-_footer_-_btn:hover{
      transform: translateY(-5px);
      box-shadow: 0 2px #92929D;
    }
  }
}

