.playlist {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  gap: 5px;
  width: 100%;
  margin-top: 10px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, calc(100% / 2));
  }

  @media screen and (max-width: 1156px) {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
  @media screen and (max-width: 950px) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
