<div class="playlist">
  <app-mini-video_details *ngFor="let v of videos"
                          [thumb]="this.service.addUrlOfSrc(v.thumbnail__target_id)"
                          [data_upload]="v.created"
                          [video_title]="v.name"
                          [canal]="v.field_canal_1"
                          [video_duration]="v.field_duracao"
                          [link_to_video]="v.mid"
                          [min_video_profile_photo]="this.service.addUrlOfSrc(v.user_picture)"
  >
  </app-mini-video_details>
</div>
