*{
  box-sizing: border-box;
  color: var(--text_color);
  font-family: 'Poppins', sans-serif;
}

>span, >p, >h1, >h2, >h3, >h4{
  background-color: transparent;
}

.app_-_wrap{
  display: block;
  height: 100%;
  //padding: 10px 10px;

  .app_layout{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--wrapper_width);

    .app_menu{
      height: 100%;
      width: 300px;
    }

    .app_pages_container{
      //margin: 5px;
      flex: 1;
      overflow-y: overlay;

      @media screen and (max-width: 600px) {
        padding-top: 80px;
      }
    }

  }
}
fa-icon{
  background: #B5B5BE;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 600px) {
  .app_layout{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }
}
