*{
  box-sizing: border-box;
  background-color: var(--bg_main);
  color: var(--text_color);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app_-_wrap{
  width: var(--wrapper_width);
  display: block;
  margin: auto;
  min-height: 700px;
  position: relative;

  .app_layout{
    display: flex;
    flex: 1;
    padding-top: 5px;

    .app_menu{
      flex: 0.25;
      padding: 5px;
      border-right: 1px solid #292932;
      min-height: 705px;
    }

    .app_pages_container{
      flex: 0.75;
      margin: 0 5px;
    }

  }
}
