*{
  box-sizing: border-box;
  background-color: var(--bg_main);
  color: var(--text_color);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app_-_wrap{
  width: var(--wrapper_width);
  display: block;
  margin: auto;
  position: relative;
  padding: 10px 10px;

  .app_layout{
    display: flex;
    padding-top: 5px;
    max-width: var(--wrapper_width);

    .app_menu{
      flex: 0.25;
      height: fit-content;
    }

    .app_pages_container{
      margin: 5px;
      padding: 0 5px;
    }

  }
}
