.canais_-_div_-_layout{
  padding: 0 5px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .canais_-_div_-_layout{
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
    gap: 5px;
  }
}
