*{
  box-sizing: border-box;
}

.favoritos_layout_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .favoritos_title_{
    display: block;
    width: 100%;
  }

  .favoritos_grid_container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, calc(100% / 3));
    gap: 1em;
    padding-right: 2em;
    padding-left: 5px;
    @media screen and (max-width: 1214px) {
      grid-template-columns: repeat(2, calc(100% / 2));
      padding-right: 0;
      padding-left: 0;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
