<div class="videos_page">

  <div>
    <div class="titulo">
      <p>Últimos Vídeos</p>
    </div>
    <div class="all-videos-field videos_grid">
      <app-video-home-box
        *ngFor="let item of Videos"
        [thumb]="this.service.addUrlOfSrc(item.thumbnail__target_id)"
        [data_upload]="item.field_data_upload"
        [video_duration]="item.field_duracao"
        [link_to_video]="item.mid"
        [video_title]="item.name"
      >
      </app-video-home-box>
    </div>
  </div>


  <div class="right-bar">
    <div>
      <app-canais_sugeridos></app-canais_sugeridos>
    </div>

    <div>
      <app-tematicas-sugeridas></app-tematicas-sugeridas> <br>
    </div>
  </div>

</div>



