*{
  padding: 0;
  margin: 0;
}

.titulo{
  font-weight: bold;
  font-size: 1.0em;
  margin-top: 10px;
}

  .videos_page{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;

    .all-videos-field{
      margin: 0 5px;
      padding:0 1px;
      flex: 1;
    }

    .videos_grid{
      display: grid;
      margin-top: 20px;
      grid-template-columns: repeat(2, calc(100% / 2));
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .right-bar{
      height: fit-content;
      flex-direction: column;
      margin: 1em 0 1em 1em;
      width: 270px;

      @media screen and (max-width: 1150px) {
      display: none;
      }
    }
  }

