*{
  padding: 0;
  margin: 0;
}

.titulo{
  font-weight: bold;
  font-size: 1.0em;
  margin-top: 10px;
}

  .videos_page{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;

    .all-videos-field{
      margin: 0 5px;
      padding:0 1px;
      flex: 1;
    }

    .videos_grid{
      display: grid;
      margin-top: 20px;
      grid-template-columns: repeat(2, 0.5fr);
      align-items: center;
      gap: 10px;

    }

    .right-bar{
      height: fit-content;
      flex-direction: column;
      margin: 0 10px;
      width: 300px;

    }
  }

