*{
  background-color: transparent;
}

.tags_layout{
  display: grid;
  grid-template-columns: repeat(3, 66px);
  height: 12px;
  gap: 2px 15px;
  object-fit: cover;
  background-color: transparent;

  .tag_items_layout{
    display: flex;
    font-size: 0.7em;
    border: 1px solid #292932;
    min-width: 76px;
    width: 100%;
    min-height: 27px;
    margin: 5px 5px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px 10px;
  }

  .tag_items_layout:hover{
    background-color: var(--bg_color_menu_hover);
    transform: translateY(-3px);
    box-shadow: 1px 1px 1px #cecece;
  }
}

.tags_header__{
  color: var(--menu_header_color);
  font-size: 0.9em;
  margin: 10px 5px;
  width: 100%;
  background-color: transparent;
}
