*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.menu_layout{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1076px;
  max-width: var(--wrapper_width_menu);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--menu_font_color);

  .menu_header{
    width: 100%;
    max-width: var(--wrapper_width);
    height: 80px;
    // 25px 50px 75px 100px
    padding: 10px 20px;
    background: #000000;
    box-shadow: inset 0px -1px 0px #292932;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #292932;

    .icon_nav{
      width: 25px;
      height: 34px;
      object-fit: cover;
      color: var(--menu_font_color);
      cursor: pointer;
    }

    .img_-_logo_-_nav{
      width: 128px;
      height: 39px;
      object-fit: contain;
      flex: 1;
    }


  }
  .menu_icons__{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    max-width: var(--wrapper_width);
    padding: 5px;
    font-size: 1.1em;

    .menu_icon_{
      display: flex;
      flex: 1;
      width: 100%;
      gap: 10px;
      cursor: pointer;
      color: white;
      padding: 5px 15px;
      align-items: center;

      .fa_icon_menu_{
        text-align: center;
        flex: 0.15;
        color: var(--menu_font_color);
      }
      span{
        width: 50%;
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: var(--menu_font_color);
      }
    }
    .menu_icon_{
      margin-bottom: 5px;
    }

    .menu_icon_:hover{
      border-left: 1px solid var(--menu_font_color);
      padding-left: 25px;
      font-size: 1.2em;
    }

    .menu_icon_:active{
      border-left: 1px solid white;
      padding-left: 5px;
      transform: translateY(-2px);
    }
  }

  .menu_tags__{
    background-color: transparent;
    width: 100%;
    max-width: var(--wrapper_width);
  }

  fa-icon{
    color: var(--menu_font_color);
  }

  .menu_layout_-_toogle{
    border: 1px solid #292932;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {

}
