*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.menu_layout{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: var(--wrapper_width);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .menu_header{
    width: 100%;
    max-width: var(--wrapper_width);
    height: 80px;
    padding: 10px 20px;
    background: #000000;
    box-shadow: inset 0px -1px 0px #292932;
    display: flex;
    gap: 20px;
    align-items: center;

    .icon_nav{
      width: 46px;
      height: 34px;
      object-fit: cover;
    }

    .img_-_logo_-_nav{
      width: 128px;
      height: 39px;
      object-fit: contain;
    }


  }
  .menu_icons__{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    max-width: var(--wrapper_width);
    padding: 5px;
    font-size: 1.1em;

    .menu_icon_{
      display: flex;
      flex: 1;
      max-width: 148px;
      width: 100%;
      gap: 10px;
      cursor: pointer;
      color: white;
      padding: 5px 15px;

      .fa_icon_menu_{
        width: 12px;
        text-align: center;
      }
    }
    .menu_icon_{
      margin-bottom: 5px;
    }

    .menu_icon_:hover{
      border-left: 1px solid white;
      padding-left: 5px;
      transform: translateY(-2px);
      font-size: 1.2em;
    }

    .menu_icon_:active{
      border-left: 1px solid white;
      padding-left: 5px;
      transform: translateY(-2px);
    }
  }

  .menu_tags__{
    background-color: transparent;
    width: 100%;
    max-width: var(--wrapper_width);
  }

}

