<div class="menu_layout">
  <div class="menu_icons__">
    <span class="menu_icon_">
      <fa-icon [icon]="faHouse" class="fa_icon_menu_"></fa-icon>
      <span>Home</span>
  </span>
    <span class="menu_icon_">
      <fa-icon [icon]="faBarsStaggered" class="fa_icon_menu_"></fa-icon>
      <span>Canais</span>
    </span>
    <span class="menu_icon_">
      <fa-icon [icon]="faClapperboard" class="fa_icon_menu_"></fa-icon>
      <span>tematica</span>
   </span>
    <span class="menu_icon_">
      <fa-icon [icon]="faPlay" class="fa_icon_menu_"></fa-icon>
      <span>Playlists</span>
  </span>
  </div>
  <div class="menu_tags__">
    <app-tags></app-tags>
  </div>

</div>
