<div class="video_container" *ngIf="pronto">
  <div class="corpo">
    <div class="titulo">
      <h2>{{video.name}}</h2>
      <h5>#{{video.field_tags}}</h5>
    </div>
    <fa-icon [icon]="faFlag" class="report"></fa-icon>
    <iframe class="video"
            [src]="video.field_media_oembed_video">
    </iframe>
    <div class="video_details">
      <img [src]="this.service.addUrlOfSrc(canal.user_picture)" class="img_user"
           [routerLink]="['/canal', video.field_canal]">
      <div class="video_descricao">
        <div class="details_user_time">
          <p class="nome_user" [routerLink]="['/canal', video.field_canal]">{{canal.title}}</p>
          <div class="time">{{video.created}}</div>
        </div>
        <div class="icons">
          <fa-icon [icon]="faThumbsUp" class="like"></fa-icon>
          |
          <fa-icon [icon]="faThumbsDown" class="deslike"></fa-icon>
        </div>
      </div>
    </div>
    <div class="descricao">{{video.field_descricao}}</div>

    <app-comments (post)="addComment($event)"></app-comments>

    <app-comment *ngFor="let c of comment"
                 [name]="c.field_nome"
                 [comment]="c.field_comentario"
                 [data_upload]="c.created">
    </app-comment>
  </div>
  <div class="outros">
    <app-mini-video_details *ngFor="let v of videos" class="unico"
                            [video_title]="v.name"
                            [canal]="v.field_canal"
                            [data_upload]="v.created"
                            [thumb]="this.service.addUrlOfSrc(v.thumbnail__target_id)"
                            [link_to_video]="v.mid">
    </app-mini-video_details>
  </div>
</div>
