
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.video_container {
  margin-top: 5px;
  width: 100%;
  display: flex;

  .corpo {
    position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .video {
    width: 934px;
    height: 523px;
    left: 281px;
    top: 110px;
  }

  h5 {
    color: #4783ee;
  }

  .video_details {
    display: flex;
    gap: 8px;

    .img_user {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .video_descricao {
      display: flex;
      flex-direction: column;

      .like {
        width: 25px;
      }

      .deslike {
        width: 25px;
      }

      .details_user_time {
        gap: 5px;
        align-items: center;

        .nome_user {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0.10000000149011612px;
          text-align: left;

        }

        .time {
          font-size: 0.8em;
          color: #b9b9b9;
        }
      }

      .descricao {
        text-align: justify;
        width: auto;
        padding: 10px;
        top: 750px;
        background: #1C1C24;
        border-radius: 10px;
      }
    }

  }
}

.outros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;

  .unico {
    margin-bottom: 20px;
  }
}

