:root {
  --bg_main: #000000;
  --text_color: #ffffff;
  --wrapper_width: 1600px;
  --wrapper_width_menu: 400px;
  --bg_color_2: #1C1C24;
  --nav_height: 80px;
  --bg_color_menu: #6b6969;
  --bg_color_menu_hover: #111131;
  --menu_font_color: #B5B5BE;
  --text_span_color_: #FAFAFB;
  --borders-colors: #292932;

}

*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body{
  background-color: var(--bg_main);
  color: var(--text_color);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.svg-inline--fa {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

img{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
}

input{
  background-color: black;
}



