*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;

  span,h1, h2,h3{
    background-color: transparent;
  }
}

.home_box_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #92929D;
  border-radius: 10px;
  padding: 5px;
  height: 500px;
  width: 100%;

  .home_box_header{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 60%;

    .home_box_-_background_photo{
      width: 100%;
      min-height: 200px;
      object-fit: cover;
      object-position: 50% 30%;
    }

    .home_box_-_profile_pic{
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      bottom: -50px;
      left: 80%;
      right: -5%;
    }

    .home_box_duration{
      position: absolute;
      width: 75px;
      height: 18px;
      left: 25px;
      top: 80%;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      background-color: #000000;
      border-radius: 5px;
      color: #FFFFFF;
    }
  }
  .home_box_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1C1C24;
    width: 100%;
    gap: 10px;
    padding: 10px;
    height: 100%;

    .home_box_tags{
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.9em;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: #1E75FF;
      background-color: transparent;
    }

    .home_box_title{
      font-size: 1.3em;
      width: 100%;
      background-color: transparent;
      text-align: start;
      margin-top: 10px;
    }

    .home_box_footer{
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      border-top: 2px solid #292932;
      margin-top: 10px;
      padding-top: 10px;

      .home_box_icons{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        gap: 10px;
      }
    }
  }
}

