<div class="home_box_layout">
  <div class="home_box_header">
    <img src="assets/dog-puppy.jpg" class="home_box_-_background_photo">
    <img src="assets/dog-cry.jpg" class="home_box_-_profile_pic">
    <span class="home_box_duration">1:57</span>
  </div>
  <div class="home_box_bottom">
    <span class="home_box_tags">GiveSports</span>
    <h3 class="home_box_title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h3>
    <div class="home_box_footer">
      <span class="home_box_timestamp_upload">Há 5min</span>
      <div class="home_box_icons">
        <span class="icons_video">
          <fa-icon [icon]="faBookmark"></fa-icon>
        </span>
        <span class="icons_video">
          <fa-icon [icon]="faBookmark"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>
