
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.video_container {
  margin-top: 5px;
  width: 100%;

  h5 {
    color: #4783ee;
  }

  .video_details {
    display: flex;
    gap: 8px;

    .img_user {
      object-fit: fill;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .video_descricao {
      display: flex;
      flex-direction: column;

      .like {
        width: 25px;
      }

      .deslike {
        width: 25px;
      }

      .details_user_time {
        gap: 5px;
        align-items: center;

        .nome_user {
          font-size: 0.9em;
        }

        .time {
          font-size: 0.8em;
          color: #b9b9b9;
        }
      }

      .descricao {
        font-size: 0.9em;
        background-color: #1d1d1d;
        text-align: justify
      }
    }

    .outros {
      flex: 1
    }

  }
}
