<div class="video_container">
  <h2>Nome do Video</h2>
  <h5>#tag #tag #tag  </h5>
  <img src="" alt="" class="video">
  <div class="video_details">
    <img src="./assets/ANGLA-78.jpg" class="img_user">
      <div class="video_descricao">
      <div class="details_user_time">
        <div class="nome_user">Angla</div>
        <div class="time">há 5 minutos</div>
      </div>
      <div class="like"></div> <div class="deslike"></div>
      <div class="descricao"> Um video de 30 min de nada sobre nada</div>
      </div>
  </div>
</div>
