<div class="tematica">
  <app-mini-video_details *ngFor="let t of tematica"
                          [thumb]="this.service.addUrlOfSrc(t.thumbnail__target_id)"
                          [data_upload]="t.created"
                          [canal]="t.field_canal"
                          [video_title]="t.name"
                          [video_duration]="t.field_duracao"
                          [tags]="t.field_tags"
                          [link_to_video]="t.mid">
  </app-mini-video_details>
</div>
